<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Centered Frame</title>
<style>
  .frame {
    width: 50%;
    margin: auto; 
    border: 1px solid #000; 
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
</style>
</head>
<body>

<div class="frame">
  {% block content %}
  Здравствуйте! Чтобы подобрать для вас наиболее оптимальные варианты, мы просим ответить вас на пару вопросов.<br>
  <a href="{% url 'survey-view' initial_question.id %}"> Ответить на вопросы
  {% endblock %}
</div>

</body>
</html>